/* ===== Google Font Import - Poformsins ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(assest/background.jpg) no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background: transparent;
    transition: margin-left 0.18s ease;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid) {
    border-bottom-color: #a8b6b9;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid)~i {
    color: #d49d98;
}

.input-field i.icon {
    left: 5px;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text {
    color: #fff;
    font-size: 14px;
}

.form a.text {
    color: #fff;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #fff;
    color: #d49d98;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}